In [1]:
print("Hello and welcome to MSc Business Analytics!")

Hello and welcome to MSc Business Analytics!

In [2]:
# Print the constant number 3.14
print(3.14)

3.14

In [3]:
# Print the constant string "Hello"
print('Hello')

Hello

In [4]:
# Print the constant boolean True. Notice the automatic colors?
print(True)

True

In [6]:
print('hi')

hi

In [7]:
message_string = "Hello Alex"
print(message_string)
print(message_string)
print(message_string)

Hello Alex
Hello Alex
Hello Alex

In [8]:
# Greeting
message_string = "Hi there"
print(message_string)

# Farewell
message_string = "bye bye"
print(message_string)

Hi there
bye bye

In [9]:
# We've defined the variable "meal" here to the name of the food we ate for breakfast!
meal = "bacon and eggs"

# Printing out breakfast
print("Breakfast:")
print(meal)

Breakfast:
bacon and eggs

In [10]:
# Now update meal to be lunch!
meal = "turkey sandwich"

# Printing out lunch
print("Lunch:")
print(meal)

#Now update "meal" to be dinner
meal = "pasta"

# Printing out dinner
print("Dinner:")
print(meal)

Lunch:
turkey sandwich
Dinner:
pasta

In [12]:
# Assign the constant value 3.14 to variable 'a'
a = 3.14

In [13]:
# Display the value of the variable 'a'
# Note that the variabel exists everywhere after assigning
print(a)

3.14

In [14]:
# Assing the constant value "Hello" to variable 'b'
c = 3
d = 4

In [16]:
# Do the same thing as above, but use exactly 1 line (hint: use comma)
c,d,e,f = 3,"4",5,"MSc BA"
print(c,d,e,f)

3 4 5 MSc BA

In [17]:
# Create a new variable name 'cat_fur' and assign it with the value 'black'
cat_fur = "black"

In [18]:
# Variable name is case sensitive
CAT_fur = "white"
print(CAT_fur)

white

In [19]:
# Reassigning an existing variable (try to guess before running this cell)
a = 1
a = 2 
a = 3
a

3

In [20]:
a = True
type(a)

bool

In [21]:
type(False)

bool

In [22]:
a = 1 > 100
print(a)
type(a)

False

bool

In [23]:
# Compare a and b. Notice the order of operation.
a = 10
b = 11

c = a <= b
d = a > b
e = a ==b 
print(c, d, e)

True False False

In [24]:
# == compares 2 values; = assigns new value to variable
print(a==b)

a = b
print(a)

False
11

In [25]:
# Boolean assignment
c = a<=b
d = (a>b)

print(c)
print(d)

True
False

In [26]:
# Inverting boolean using "not"
a = True
print(not(a))

False

In [27]:
# Combine booleans
a = True
b = False

print (a and b)
print (a or b)

False
True

In [28]:
# Chaining booleans to create a dependent condition
a = True
b = True
c = True
d = False 
e = True

print(a and b and c and d and e)
print(a or b or c or d or e)

False
True

In [29]:
# Order of evaluation
a = True
b = True
c = False

# print(a or b or c) # not recommended
print((a or b) and c)

False

In [30]:
type(0) # Integer

int

In [31]:
type(3.14) # Float

float

In [32]:
type(1+2j) # Complex

complex

In [33]:
# Convert int to float
a = 3
print(a, type(a))

a = float(a) #type casting
print(a,type(a))

3 <class 'int'>
3.0 <class 'float'>

In [34]:
# Rounding floats to nearest integer

c = 1.789
c = round(c,2)
print(c, type(c))

d = 0.2
d = round(d)
print(d,type(d))

1.79 <class 'float'>
0 <class 'int'>

In [35]:
# Print a string
print("hello world!")
print("Hello World!")

print('''He"ll"o 'W'orld''')

hello world!
Hello World!
He"ll"o 'W'orld

In [36]:
# Multi-line strings
lyric = """Hello darkness my old friend
I've come to talk with you again
"""

In [37]:
# Check type of a string
type(lyric)

str

In [38]:
# Assign a new value to text
text = 'MSc BA'
text

'MSc BA'

In [40]:
# Concatenate two strings
text = 'MSc ' + 'BA'
text

'MSc BA'

In [42]:
birthday_string = "I am "
age = 10
birthday_string_2 = " years old today!"

# Concatenating an integer with strings is possible if we turn the integer into a string first
full_birthday_string = birthday_string + str(age) + birthday_string_2

# Prints "I am 10 years old today!"
print(full_birthday_string)

# If we just want to print an integer
# we can pass a variable as an argument to
# print() regardless of whether
# it is a string.

# This also prints "I am 10 years old today!"
print(birthday_string, age, birthday_string_2)

I am 10 years old today!
I am  10  years old today!

In [43]:
coffee_price = 1.50
number_of_coffees = 4

print(coffee_price * number_of_coffees)
print(coffee_price)
print(number_of_coffees)

# Updating the price
coffee_price = 2.00

print(coffee_price * number_of_coffees)
print(coffee_price)
print(number_of_coffees)

6.0
1.5
4
8.0
2.0
4

In [44]:
a = 1
b = 2

a, b = b, a

print(a,b)

2 1

In [45]:
# First we have a variable with a number saved
running_distance = 10

# Then we need to update that variable
# Let's say we run another 2 km today
running_distance = running_distance + 2

print(running_distance)

12

In [46]:
a = a + b
a += b

In [47]:
running_distance = 10

running_distance += 2

print(running_distance)

12

In [48]:
photo_caption = "What an amazing time to walk through nature!"

# Add the hashtags!
photo_caption += " #weekend"
photo_caption += " #relax"
photo_caption

'What an amazing time to walk through nature! #weekend #relax'

In [49]:
total_price = 0

new_shoes = 50.00
total_price += new_shoes

nice_shirt = 39.00
fun_book = 20.00

# Update total_price here:
total_price+= nice_shirt
total_price+= fun_book

print("The total price is", total_price)

The total price is 109.0

In [50]:
# Prints "500"
print(573 - 74 + 1)

# Prints "50"
print(25 * 2)

# Prints "2.0"
print(10 / 5)

500
50
2.0

In [51]:
print(10 / 0)

ZeroDivisionError: division by zero

In [52]:
# Assign the value 5 to the variable named score
score = 5

In [53]:
# Increase score by 1
score += 1
print(score)

# Decrease score by 3
score -= 3
print(score)

# Multiply score by 8
score *= 8
print(score)

# Divide score by 4 (note the implicit type casting)
score /= 4
print(score, type(score))

6
3
24
6.0 <class 'float'>

In [54]:
# Some other common operations between numbers

# Power (**)
print(2**3)

# Floor division (//)
print(15//2)

# Modulo (%)
print(15%2)

# Absolute value (abs())
print(abs(5-7))

8
7
1
2

In [55]:
no_cards = 10
no_players = 4

# YOUR CODE HERE
print ("no. of cards: ", no_cards % no_players)

no. of cards:  2

In [56]:
x = 10
print(x%2 != 0)

False

In [57]:
# YOUR CODE HERE
a = 3

# 1 2 0
# a%3

# 0 1 2 => 1 2 3
(a+2)%3 + 1

3

In [58]:
x = 15
print('Team:', x - 3*((x-1)//3))

Team: 3

In [ ]:
# YOUR CODE HERE
xyz = int(input('Number: '))

x = xyz // 100
y = (xyz - x*100) // 10
z = xyz % 10

print(x + y + z)

In [ ]:
# Display an expression
a = 1
b = 2

print(a)
print(b)

In [ ]:
number_of_students = 30
place = 'my class'

# Option 1
print('There are', number_of_students, 'students in', place)

# Option 2
print(f'There are {number_of_students} students in {place}')

In [ ]:
pi = 3.1415926535897

print(f'The result is {pi:.3f}')

In [ ]:
name = input("What's your name? ")        # input() by default returns a string
print(name, type(name))

age = int(input("How old are you? "))     # Convert an input string into integer
print(age, type(age))

In [ ]:
favorite_fruit = input("What is your favorite fruit? ")

In [ ]:
print("Oh cool! I like " + favorite_fruit + " too, but I think my favorite fruit is apple.")

In [ ]:
# YOUR CODE HERE
num1 = int(input())
num2 = int(input())
num3 = int(input())
print("The sum of three numbers is", num1+num2+num3)