In [2]:
heights = [175, 170, 165, 160]

In [3]:
names = ['Adam', 'Eva', 'Alex', 'Mia']

In [4]:
mixed_list_string_number = ['Adam', 175]

In [5]:
mixed_list_common = ["Mia", 160, False, 0.5]

In [6]:
sam_height_and_testscore = ["Sam", 167, 85.5, True, [1,3,"a"]]
sam_height_and_testscore

['Sam', 167, 85.5, True, [1, 3, 'a']]

In [7]:
#list
l = [0,1,2.5,True, 'a', 'b', 'c']

#tuple
t = (0,1, 2.5,False,'a','b','c')

#string '' or ""
s = '0.12.5Falseabc'

In [8]:
print(len(l)) #list
print(len(t)) #tuple
print(len(s)) #string

7
7
14

In [9]:
#list
print('LIST:')
print('l  =',l)
print('l[3]=',l[3])
print()

#tuple 
print('TUPLE:')
print('t  =', t)
print('t[0] =',t[3])
print()


#string
print('STRING')
print('s. =',s)
print('s[0]=',s[5])

LIST:
l  = [0, 1, 2.5, True, 'a', 'b', 'c']
l[3]= True

TUPLE:
t  = (0, 1, 2.5, False, 'a', 'b', 'c')
t[0] = False

STRING
s. = 0.12.5Falseabc
s[0]= 5

In [17]:
l2 = [1,2,3,4,5,6,7,8]

print(l2[-7])

2

In [11]:
big_list= [1,1,2,3,5,8,13,21,34,55,89,144,233,377]

In [12]:
big_list[len(big_list)-1]

377

In [18]:
big_list[-1]

377

In [19]:
my_list = [0,1,2,3,4,5,6,7,8,9]
#print 0,2,4... using slicing
print(my_list[1:7:2])

[1, 3, 5]

In [20]:
my_string = 'abcdefghij'
print(my_string[1::2])

bdfhj

In [27]:
#list
print('l =',l)
print('l[0:3] = ',l[0:3])
print()

l = [0, 1, 2.5, True, 'a', 'b', 'c']
l[0:3] =  [0, 1, 2.5]

In [22]:
#tuple
print('t. =',t)
print('t[0:6:2] =', t[0:6:2])
print()

t. = (0, 1, 2.5, False, 'a', 'b', 'c')
t[0:6:2] = (0, 2.5, 'a')

In [23]:
#string
print('s =',s)
print('s[3:6] =', s[3:6])

s = 0.12.5Falseabc
s[3:6] = 2.5

In [25]:
print('s=',s)
print(s[::-1])

s= 0.12.5Falseabc
cbaeslaF5.21.0

In [26]:
my_list = [0,1,2,3,4,5,6,7,8,9]
print(my_list[5::-1])

[5, 4, 3, 2, 1, 0]

In [28]:
l[4::-1]

['a', True, 2.5, 1, 0]

In [29]:
l[-1:3:-1]

['c', 'b', 'a']

In [30]:
# List
l1 = [0, 1, 2.5]
l2 = ['a', 'b', 'c']
l  = l1 + l2
print('l =', l)

# Tuple
t1 = (0, 1, 2.5)
t2 = ('a', 'b', 'c')
t  = t1 + t2
print('t =', t)

# String
s1 = 'abc'
s2 = '123'
s = s1 + s2
print('s =', s)

l = [0, 1, 2.5, 'a', 'b', 'c']
t = (0, 1, 2.5, 'a', 'b', 'c')
s = abc123

In [31]:
# List:
l = []

# Tuple
t = ()

# String
s = ''

print(l)
print(t)
print(s)

[]
()

In [36]:
# List in list
ll = [[0,1], [2,3], [4,5]]
print(ll)

ll2 = [(0,1), "fdasf", [2,3]]
print(ll2)

# Tuple in tuple
tt = ((0,1), (2,3), (4,5))
print(tt)

# String in list/tuple
ls = ['Hello','World']
ts = ('My','name','is','')
print(ts)


# String in string...??
ss = 'fdas"fdsa"fdas'

[[0, 1], [2, 3], [4, 5]]
[(0, 1), 'fdasf', [2, 3]]
((0, 1), (2, 3), (4, 5))
('My', 'name', 'is', '')

In [41]:
element = 1

# List/Tuple
l = [0,1,2]
t = (0,1,2)
s = (1,0,2)

print(element in l)
print(element in t)
print(element in s)

l = [3,4,5]
t = (3,4,5)

print(element in l)
print(element in t)

True
True
True
False
False

In [43]:
# String
n  = 'n'
s1 = 'Chinh'
s2 = 'Charles'
s3 = "Choo"

print(n in s1)
print(n in s2)
print(n in s3)

True
False
False

In [59]:
n = 1
another = 1.5
s = [0,1,2]
my_new_var = ('1', '2')
print(n in s)
y = True


print(type(n))
print(type(s))
print(type(my_new_var))
print(type(another))
print(type(y))

True
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'float'>
<class 'bool'>

In [60]:
my_list = [0,1,2]

my_list[0] = 10
print(my_list)

[10, 1, 2]

In [61]:
my_tuple = (1,2,3)
# my_tuple = (10,2,3)

my_tuple[0] = 10
my_tuple

TypeError: 'tuple' object does not support item assignment

In [62]:
my_list = [1,2,3]
my_list.append(4)

print(my_list)

#remove last one in the list
my_list.pop()

print(my_list)

[1, 2, 3, 4]
[1, 2, 3]

In [63]:
my_tuple = (1,2,3)
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
my_list = [1,2,3]
another_list = ['a','b','c']

my_list.append(another_list)
print(my_list)
print(len(my_list))

[1, 2, 3, ['a', 'b', 'c']]
4

In [65]:
my_list = [1,2,3]
another_list = ['a','b','c']

new_list = my_list + another_list
print(new_list)

[1, 2, 3, 'a', 'b', 'c']

In [66]:
my_list = [1,2,3]
another = ('a','b','c')

In [67]:
my_list.append(another)
my_list

[1, 2, 3, ('a', 'b', 'c')]

In [68]:
my_list.extend(another)
my_list

[1, 2, 3, ('a', 'b', 'c'), 'a', 'b', 'c']

In [79]:
l = [[1,2], [2,3]]
print(l)
print(type(l))

del l[0]
print(l)

[[1, 2], [2, 3]]
<class 'list'>
[[2, 3]]

In [81]:
fruits = ['apple', 'banana', 'cherry']
index = 2

# Option 1
fruits.insert(index, "orange")

# Option 2
# a = fruits[0:1] + ['orange'] + fruits[1:]

# Option 3
# x = fruits[0:index]
# x.append('orange')
# x.extend(fruits[index:])

In [82]:
# Define a variable with string "MSc BA"
mystring = 'MSc BA'

In [84]:
print(mystring[1])

print(mystring[-4])

S
c

In [85]:
# Choose all the character before the 5th character
mystring[:5]

'MSc B'

In [86]:
# Choose only the 'BA' part
mystring[4:]

'BA'

In [87]:
# Choose everything
mystring[:]

'MSc BA'

In [88]:
# Choose everything but backward
mystring[::-1]

'AB cSM'

In [89]:
# Extract 'B c' from 'MSc BA'
mystring[4:1:-1]

'B c'

In [90]:
# Does this work?
mystring[1] = 'B'

TypeError: 'str' object does not support item assignment

In [91]:
# MSc BA --> MSc BB

# Option 1
s1 = mystring[:5]
s2 = 'B'
s3 = mystring[6:]
print(s1+s2+s3)

# Option 2
s = list(mystring)
s[5] ='B'
s = "_".join(s) # MAGIC!! convert a list to string
s

MSc BB

'M_S_c_ _B_B'

In [92]:
# Convert string to integer
a = 123
print(a, type(a))

a = str(a)
print(a, type(a))

a = int(a)
print(a, type(a))

123 <class 'int'>
123 <class 'str'>
123 <class 'int'>

In [93]:
# Given a three-digit number, calculate the sum of all its digits
x = 123
x = str(x)
int(x[0]) + int(x[1]) + int(x[2])

6

In [94]:
# Create a set
set1 = {"apple", "banana", "banana", "cherry"}
print(set1)

{'apple', 'cherry', 'banana'}

In [95]:
# Convert a list to a set
new_set = set(['banana', 'kiwi', 'kiwi', 'orange', 'orange', 'orange'])
new_set

{'banana', 'kiwi', 'orange'}

In [101]:
# Add/Remove an element to a set
new_set.add('apple')

In [102]:
new_set

{'apple', 'kiwi', 'orange'}

In [103]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

print(a | b)        # First way
print(a.union(b))   # Second way

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
print(a & b)                # First way
print(a.intersection(b))    # Second way

{4, 5}
{4, 5}

In [105]:
print(a - b)            # First way
print(a.difference(b))  # Second way

{1, 2, 3}
{1, 2, 3}

In [106]:
print(b - a)

{8, 6, 7}

In [107]:
print(a ^ b)                        # First way
print(a.symmetric_difference(b))    # Second way

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [108]:
a = [1,2,4,1,6,2,9,1,1,6]